STAGE=dev

DB_PASSWORD=password
DB_NAME=LinktreeDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=32eb25e6bae6091a6f5ada3cf55d187e

DATABASE_URL=postgresql://postgres:password@localhost:5432/LinktreeDB
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret